body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.top-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

#searchInput {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

.export-controls {
  display: flex;
  gap: 10px;
  align-items: center;
}

select, input[type="file"], button {
  padding: 8px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

textarea, input[type="text"], select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}

button {
  background-color: rgb(225, 126, 21);
  color: black;
  cursor: pointer;
}

#snippetsContainer {
  display: grid;
  gap: 20px;
}

.snippetCard {
  background: #1f1f1f;
  padding: 15px;
  border-radius: 8px;
}

.snippetCard pre {
  background: #2b2b2b;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.snippetImage {
  max-width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

.card-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.card-actions button {
  background-color: #f97316;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
